body {
    font-family: 'Source Sans Pro',
        /* Safari pour macOS and iOS (San Francisco) */
        -apple-system,
        /* Windows */
        "Segoe UI",
        /* Android */
        Roboto,
        /* Basic web fallback */
        "Helvetica Neue", Arial,
        /* Linux */
        "Noto Sans",
        "Liberation Sans";
    background-image: url("images/bg-img-bubbles.png");
    background-repeat: repeat;
    background-size: cover;
    background-color: #fff;
}

/*L'icone de l'oeil est positionnée à droite du champ de saisi devant la contenir*/
.eye-hint {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer
}

.is-hidden {
    display: none
}

.is-visible {
    display: block
}

.fs-9 {
    font-size: small
}

.fs-10 {
    font-size: x-small
}

/*On positionne l'icone d'inscription en haut du formulaire...*/
.registration-top-img {
    position: relative;
    top: -20px;
}

/*...et sur la partie gauche sur ordinateurs et tablettes...*/
@media (min-width:768px) {
    .registration-top-img {
        width: 50px;
        left: 20px
    }

    .lg-incitative-registration-img {
        display: block
    }

    .sm-incitative-registration-img {
        display: none
    }
}

/*...et au centre sur mobile*/
@media (max-width:767px) {
    .registration-top-img {
        width: 75px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .lg-incitative-registration-img {
        display: none
    }

    .sm-incitative-registration-img {
        display: block
    }
}